body {
  font-family: Arial;
  background: #f4f6f9;
  margin: 0;
}

header {
  background: #007bff;
  color: white;
  text-align: center;
  padding: 20px;
}

.form-container {
  background: white;
  margin: 20px;
  padding: 15px;
  border-radius: 10px;
}

input {
  display: block;
  margin: 10px 0;
  padding: 8px;
  width: 100%;
}

button {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

ul {
  list-style: none;
}
